.form {
  display: flex;
  width: 100%;
  padding: 1rem;
  margin: 1rem;
}

.form .input {
  width: 100%;
  padding: 1.25rem;
  border-radius: 5px;
  border: 1px solid #82ada9;
  color: #004d40;
  font-size: 1rem;
  box-shadow: none;
}

.form .button {
  margin-left: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  background-color: #82e9de;
  color: #004d40;
  font-size: 1rem;
  transition: all ease-in 0.2s;
  cursor: pointer;
}

.form .button:hover {
  box-shadow: 0 5px 10px rgb(0, 0, 0, 15%);
  background-color: #ffffff;
}